APP_PYTHON_AUTHORIZATION_HEADER="Bearer B1bjreX-cn2gVX90UcPPpQ=="
APP_PYTHON_HASURA_CONNECTOR_PORT=5794
APP_PYTHON_HASURA_SERVICE_TOKEN_SECRET="B1bjreX-cn2gVX90UcPPpQ=="
APP_PYTHON_OTEL_EXPORTER_OTLP_ENDPOINT="http://local.hasura.dev:4317"
APP_PYTHON_OTEL_SERVICE_NAME="app_python"
APP_PYTHON_READ_URL="http://local.hasura.dev:5794"
APP_PYTHON_WRITE_URL="http://local.hasura.dev:5794"
APP_PYTHON_COHERE_API_KEY=""
APP_PYTHON_WCD_URL=""
APP_PYTHON_WCD_API_KEY=""
